
//////////////////////////////////////////////////////////////////////////
//
//
//				APPEL DES FICHIERS PARTIELS A COMPILER
//				pour le css de base
//
//
//////////////////////////////////////////////////////////////////////////

//////////////////// VARIABLES / FONCTIONS / MIXINS / ICONES / ANIMATIONS ////////////////////
 
@import 'general';

////////////////// INTERFACE //////////////////

@import 'interface/card';
@import 'interface/tags';
@import 'interface/new-recipe';
@import 'interface/badges';
@import 'interface/nav';
@import 'interface/block';

////////////////// STYLE GENERAL //////////////////

// @font-face {
//     font-family: 'Arial Rounded MT Bold';
//     src: url('../fonts/arlrdbd.ttf');
//   }

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

header{
    width: 100%;
    padding: 0 1rem;
}

header > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}

header button{
    padding: 0.5rem;
    color: white;
    background-color: coral;
    border: 1px solid white; 
    border-radius: 3px;
    font-size: 1rem;
}

body{
    display: flex;
    //justify-content: center;
    padding: 1rem 5rem;
    min-height: 100vh;
    height: 100%;
    background: rgb(255,131,84);
    background: linear-gradient(138deg, rgba(255,131,84,1) 0%, rgba(255,154,209,1) 100%);
    background-repeat: no-repeat;
    color: white;
}

div#app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100vw!important;
    height: 100vh;
    
}

.custom-text-secondary{
    color: $secondary;
}

.custom-text-secondary{
    color: $secondary;
}

.custom-text-tertiary{
    color: $tertiary;
}

.custom-btn-primary{
    width: 2rem;
    background-color: $primary;
    color: $white;
}

.custom-btn-secondary{
    width: 2rem;
    background-color: $secondary;
    color: $white;
}

.custom-btn-tertiary{
    width: 2rem;
    background-color: $tertiary;
    color: $white;
}