//////////////////////////////////////////////////////////////////////////
//
//
//             block
//
//
//////////////////////////////////////////////////////////////////////////
$radius: 10px;
$blockH: 80vh;

.block{
    $this: '.block';

    width: 80vw;
    height: $blockH;
    background-color: $white;
    color: $black;
    border-radius: $radius;
    overflow-y: scroll;

    &-title{
        padding: 1rem;
        background-color: $tertiary;
        color: $white;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.1);

        & > * {
            margin-bottom: 0;
        }
    }

    &-content{
        position: relative;
        padding: 3rem;
        height: $blockH;

        .infos{
            position: absolute;
            right: 3rem;
            top: 8rem;
            
            #time, #units{
                display: inline-block;
                position: relative;
                margin-left: 0.5rem;
                margin-right: 3.5rem;
                z-index: 1;
            }

            #time-value, #units-value{
                display: inline-block;
                position: absolute;
                width: 6rem;
                text-align: right;
            }

            #time-value{
                left: 0.8rem;
            }

            #units-value{
                width: 5rem;
                left: 8rem;
            }
        }

        #{$this}-image{
            position: relative;
            display: inline-block;
            width: 40%;
            height: 100%;
            border-radius: $radius;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .category{
                position: absolute;
                left: 1rem;
                bottom: 1rem
            }
        }

        #{$this}-body{
            position: absolute;
            display: inline-flex;
            flex-direction: column;
            padding: 0 3rem;


            #{$this}-header{
                font-weight: bold;
            }

            .ingredients{
                margin-top: 2rem;

                
            }
        }
    }

    &-btn{
        width: 7rem;
        padding: 0.5rem;
        border: none;
        background-color: $secondary;
        color: $white;
        border-radius: $radius;
        margin-bottom: 2rem;
    }
}