//////////////////////////////////////////////////////////////////////////
//
//
//             navigation
//
//
//////////////////////////////////////////////////////////////////////////

.menu{
    .container{
        a{
            color: $white;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: $primary;
            }
        }
    }
}